.modalBackground {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #00000070;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBox {
  position: relative;
  background-color: white;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modalBoxA {
  padding: 50px 20px 20px 20px;
}
.modalBoxB {
  padding: 20px;
}
.modalBoxC {
  padding: 50px 20px 20px 20px;
  display: block;
  overflow: scroll;
  scrollbar-width: 0;
}
.modalBoxC::-webkit-scrollbar {
  display: none;
}

.modalCloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0px;
}
