.transparentButton {
  border: 1px solid transparent;
  background-color: transparent;
  color: black;
}
.transparentButton:hover {
  border: 1px solid transparent;
  background-color: #ffd100;
  color: black;
}

.blackButton.bg {
  border: 1px solid transparent;
  background-color: black;
  color: white;
}
.blackButton.bg:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.blackButton.border {
  border: 1px solid black;
  background-color: white;
  color: black;
}
.blackButton.border:hover {
  background-color: black;
  color: white;
}

.yellowButton.bg {
  border: 1px solid transparent;
  background-color: #ffd100;
  color: black;
}
.yellowButton.bg:hover {
  border: 1px solid #ff9900;
  background-color: white;
  color: #ff9900;
}

.yellowButton.border {
  border: 1px solid #ff9900;
  background-color: white;
  color: #ff9900;
}
.yellowButton.border:hover {
  background-color: #ffd100;
  color: black;
}

.redButton.bg {
  border: 1px solid transparent;
  background-color: #ff4400;
  color: black;
}
.redButton.bg:hover {
  border: 1px solid #ff4400;
  background-color: white;
  color: #ff4400;
}

.redButton.border {
  border: 1px solid #ff4400;
  background-color: white;
  color: #ff4400;
}
.redButton.border:hover {
  background-color: #ff4400;
  color: black;
}

.greenButton.bg {
  border: 1px solid transparent;
  background-color: #00ff77;
  color: black;
}
.greenButton.bg:hover {
  border: 1px solid #00ff77;
  background-color: white;
  color: #00ff77;
}

.greenButton.border {
  border: 1px solid #00ff77;
  background-color: white;
  color: #00ff77;
}
.greenButton.border:hover {
  background-color: #00ff77;
  color: black;
}
