.transparent {
  border: 1px solid transparent;
  background-color: transparent;
  color: black;
}
.transparent:hover {
  border: 1px solid transparent;
  background-color: #ffd100;
  color: black;
}

.black.bg {
  border: 1px solid transparent;
  background-color: black;
  color: white;
}
.black.bg:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.black.border {
  border: 1px solid black;
  background-color: white;
  color: black;
}
.black.border:hover {
  background-color: black;
  color: white;
}

.yellow.bg {
  border: 1px solid transparent;
  background-color: #ffd100;
  color: black;
}
.yellow.bg:hover {
  border: 1px solid #ff9900;
  background-color: white;
  color: #ff9900;
}

.yellow.border {
  border: 1px solid #ff9900;
  background-color: white;
  color: #ff9900;
}
.yellow.border:hover {
  background-color: #ffd100;
  color: black;
}
